

#edit-genre-id-wrapper {
  float: left;
  padding: 5px;
}

#edit-series-id-wrapper {
  float: left;
  padding: 5px;
}

#edit-worlds-id-wrapper {
  float: left;
  padding: 5px;
}

#edit-publisher-id-wrapper {
  float: left;
  padding: 5px;
}

#edit-author-id-wrapper {
  float: left;
  clear: right;
  padding: 5px;
}

#edit-year-wrapper {
  float: left;
  padding: 5px;
}

#edit-isbn-wrapper {
  float: left;
  padding: 5px;
}

#edit-location-wrapper {
  float: left;
  padding: 5px;
}


#edit-body {
  height: 10em;
  padding: 5px;
}



#edit-year {
  width: 5em;
}

#edit-isbn {
  width: 15em;
}

.ajax-milan {
  float: left;
}

.ajax-milan-form {
  padding: 1em;
  background-color: White;
  border-width: .2em;
  border-style: solid;
}

