#ajax-milan-publisher-form {
  padding: 1em;
  background-color: White;
  border-width: .2em;
  border-style: solid;
}

#ajax-milan-publisher-form > #edit-preview {
  display: None;
}

#ajax-milan-publisher-select {
  float: left;
  padding-right: .5em;
}

#ajax-milan-person-form {
  padding: 1em;
  background-color: White;
  border-width: .2em;
  border-style: solid;
}

#ajax-milan-person-form > #edit-preview {
  display: None;
}

#ajax-milan-person-select {
  float: left;
  padding-right: .5em;
}
